body{
    background-color: black;
    border-style: double;
    border-radius: 50px;
}

img {
    
    display: block;
    margin: auto;
    margin: auto;
}

p{
    padding: 15px;
    border-style: ridge;
    border-color: 092854;
    color: antiquewhite;
    font-family: serif;
    font-size: 20px;
    float: left;
    width: 900px;
 
}

    



